<a href="{{ baby.data.image }}" data-toggle="lightbox" data-gallery="img-gallery" class="{{ baby.data.imageCategory }} col-sm-3">
    <img src="{{ baby.data.image }}" alt="{{ baby.data.imageAlt }}" class="img-fluid " >
</a>