<article class="categories row text-light my-md-5">
    <div class="categories__list col-12 d-flex justify-content-center flex-wrap mb-3 mb-md-5">
        {% for category in collections.categories %}
            {% include "category-btn.njk" %}
        {% endfor %}
    </div>
</article>