<!-- Header -->

<div class="header container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom border-dark">
        <!-- Logo -->
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/images/Logo-menu.svg" alt="logo" title="Accueil">
            </a>
        </div>
        <!-- Navigation -->
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-light">Accueil</a></li>
            <li><a href="/gallery" class="nav-link px-2 link-light">Galerie</a></li>
            <li><a href="/prices" class="nav-link px-2 link-light">Tarifs</a></li>
            <li><a href="/contact" class="nav-link px-2 link-light">Contact</a></li>
        </ul>
            <!-- Social networks  -->
        <div class="col-md-3 text-end">
            <a href="https://www.instagram.com/" target="_blank" class="mr-2"><i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i></a>
            <a href="https://www.facebook.com/" target="_blank" class="ml-2"><i class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i></a>
        </div>
    </header>
</div>