---
layout: base.njk
---

<div class="price">
    <h2 class="price__heading">{{ title }}</h2>
        <div class="price__price">
        {{ price }}
    </div>
    <div class="price__content prose">
        {{ content | safe }}
    </div>
</div>