<article class="col-md-3 card m-3 price-card">
    <div class="price-card__body">
        <div class="project-card__tags">
            {% for tag in price.data.tech %}
                <span class="project-card__tag">{{ tag }}</span>
            {% endfor %}
        </div>

        <h2 class="price-card__title">{{ price.data.title }}</h2>
        <h3 class="price-card__price">{{ price.data.price }}</h3>
        <hr>
        <p class="price-card__text">{{ price.data.description }}</p>
    </div>
</article> 