<a href="{{ family.data.image }}" data-toggle="lightbox" data-gallery="img-gallery" class="{{ family.data.category }} col-sm-3">
    <img src="{{ family.data.image }}" alt="{{ family.data.imageAlt }}" class="img-fluid">
</a>