<a href="{{ wedding.data.image }}" data-toggle="lightbox" data-gallery="img-gallery" class="{{ wedding.data.category }} col-sm-3">
    <img src="{{ wedding.data.image }}" alt="{{ wedding.data.imageAlt }}" class="img-fluid">
</a>
