<a href="{{ wedding.data.image }}" data-toggle="lightbox" data-gallery="img-gallery" class="{{ wedding.data.imageCategory }} col-sm-3">
     <img src="{{ wedding.data.image }}" alt="{{ wedding.data.imageAlt }}" class="img-fluid">  
</a>
