<a href="{{ baptism.data.image }}" data-toggle="lightbox" data-gallery="img-gallery" class="{{ baptism.data.imageCategory }} col-sm-3">
    <img src="{{ baptism.data.image }}" alt="{{ baptism.data.imageAlt }}" class="img-fluid ">
</a>
