<a href="{{ portrait.data.image }}" data-toggle="lightbox" data-gallery="img-gallery" class="{{ portrait.data.category }} col-sm-3">
    <img src="{{ portrait.data.image }}" alt="{{ portrait.data.imageAlt }}" class="img-fluid">
</a>
