<article class="portraits row mb-3" id="portrait-list">
    {% for portrait in collections.portraits %}
        {% include "gallery/portraits/portrait-img.njk" %}
    {% endfor %}               
</article>