<a href="{{ pregnant.data.image }}" data-toggle="lightbox" data-gallery="img-gallery" class="{{ pregnant.data.category }} col-sm-3">
    <img src="{{ pregnant.data.image }}" alt="{{ pregnant.data.imageAlt }}" class="img-fluid img-pregnant">
</a>
