<article class="pregnants row mb-3" id="pregnant-list">
    {% for pregnant in collections.pregnants %}
        {% include "gallery/pregnants/pregnant-img.njk" %}
    {% endfor %}               
</article>