---
title: "Galerie photos"
description: "Galerie photos de Charles Cantin photographe"
layout: "base.njk"
---

<body class="gallery-bg">

    <!-- Main  -->

    <div class="container-fluid gallery-main">
        <main class="row d-flex justify-content-center">
            <!-- Title -->
            <section class="col-12 d-flex justify-content-center my-2">
                <h1 class="text-center">{{ title }}</h1>
            </section>

            <!-- Gallery -->
            <section class="gallery col-12 my-2">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <!-- Categories -->
                        {% include "gallery/categories/category-grid.njk" %}

                        <!-- Wedding -->
                        {% include "gallery/weddings/wedding-grid.njk" %}
                        <!-- Pregnant -->
                        {% include "gallery/pregnants/pregnant-grid.njk" %}
                        <!-- Baby -->
                        {% include "gallery/babies/baby-grid.njk" %}
                        <!-- Couple -->
                        {% include "gallery/couples/couple-grid.njk" %}
                        <!-- Baptism -->
                        {% include "gallery/baptisms/baptism-grid.njk" %}
                        <!-- Family -->
                        {% include "gallery/families/family-grid.njk" %}
                        <!-- Portrait -->
                        {% include "gallery/portraits/portrait-grid.njk" %}
                    </div>
                </div>
            </section>
        </main>
    </div>

</body>