---
title: "Charles Cantin - Photographe"
description: "Portfolio de Charles Cantin photographe avec ses photos, ses tarifs ainsi qu'un formulaire de contact pour tout renseignement ou prise de rendez-vous."
layout: "base.njk"
---

<body class="home-bg">

    <form  name="contact" netlify netlify-honeypot="botfield" hidden>
        <input type="text" name="lastname">
        <input type="text" name="firstname">
        <input type="email" name="email">
        <textarea name="message"></textarea>
    </form>

    <!-- Main  -->

    <div class="container home-main">
        <div class="row h-100">
                <!-- Title -->
            <section class="col-12 d-flex justify-content-center align-items-center">
                <h1 class="text-center">{{ title }}</h1>
            </section>
        </div>
    </div>

</body>