---
layout: "base.njk"
title: "Tarifs et prestations"
description: "Tarifs et prestations pratiqués par Charles Cantin photographe"
---

<body class="prices-bg">

    <!-- Main  -->

    <div class="container prices-main">
        <main class="row d-flex justify-content-center">
            <!-- Title -->
            <section class="col-12 d-flex justify-content-center my-2">
                <h1 class="text-center mt-1">{{ title }}</h1>
            </section>

            <!-- Cards of prices -->
            <section class="col-12 m-2 d-flex justify-content-center flex-wrap">
                <div class="row d-flex justify-content-center flex-wrap">

                    {% for price in collections.prices %}
                        {% include "price-card.njk" %}
                    {% endfor %}

                </div>
            </section>
        </main>
    </div>


</body>