---
title: Tarifs et prestations
description: Tarifs et prestations pratiqués par Charles Cantin photographe
layout: base.njk
---

<body class="prices-bg">

    <!-- Main  -->

    <div class="container prices-main">
        <main class="row d-flex justify-content-center">
            <!-- Title -->
            <section class="col-12 d-flex justify-content-center my-2">
                <h1 class="text-center mt-1">{{ title }}</h1>
            </section>

            <!-- Cards of prices -->
            {% for price in collections.prices %}
                {% include "price-card.njk" %}
            {% endfor %}
        </main>
    </div>

</body>