---
layout: "base.njk"
title: "Tarifs et prestations"
description: "Tarifs et prestations pratiqués par Charles Cantin photographe"
---

<body class="prices-bg">

    <!-- Main  -->

    <div class="container prices-main">
            <main class="row d-flex justify-content-center">
                <!-- Title -->
                <section class="col-12 d-flex justify-content-center my-2">
                    <h1 class="text-center mt-1">{{ title }}</h1>
                </section>

                <!-- Cards of prices -->
                <section class="col-12 m-2 d-flex justify-content-center flex-wrap">
                    <div class="row d-flex justify-content-center flex-wrap">
                        <!-- Just for one price -->
                        <article class="sc-content col-md-3 card m-3 price-card">
                            <div class="card-body">
                                <h2 class="card-title">Juste moi</h2>
                                <h3>130 €</h3>
                                <hr>
                                <p class="card-text">Séance pour une personne en extérieur ou en studio</p>
                            </div>
                        </article>
                        <!-- For two people price -->
                        <article class="sc-content col-md-3 card m-3 price-card">
                            <div class="card-body">
                                <h2 class="card-title">Pour deux</h2>
                                <h3>195 €</h3>
                                <hr>
                                <p class="card-text">Pour deux personnes en extérieur ou en studio</p>
                            </div>
                        </article>
                        <!-- Family price -->
                        <article class="sc-content col-md-3 card m-3 price-card">
                            <div class="card-body">
                                <h2 class="card-title">Famille</h2>
                                <h3>220 €</h3>
                                <hr>
                                <p class="card-text">Pour la famille ou les amis jusqu’à 4 personnes en extérieur ou en studio 
                                    <br><span class="additional-details">(30 € en supplément par personne au-delà de 4 hormis enfant jusqu’à 2 ans)</span>
                                </p>
                            </div>
                        </article>
                        <!-- Pregnant price -->
                        <article class="sc-content col-md-3 card m-3 price-card">
                            <div class="card-body">
                                <h2 class="card-title">Il était une fois</h2>
                                <h3>160 €</h3>
                                <hr>
                                <p class="card-text">Photo de grossesse à votre domicile, en extérieur ou en studio</p>
                            </div>
                        </article>
                        <!-- Baby price -->
                        <article class="sc-content col-md-3 card m-3 price-card">
                            <div class="card-body">
                                <h2 class="card-title">Mon bébé </h2>
                                <h3>100 €</h3>
                                <hr>
                                <p class="card-text">Photo d’enfant jusqu’à 3 ans à domicile</p>
                            </div>
                        </article>
                        <!-- Wedding price -->
                        <article class="sc-content col-md-3 card m-3 price-card">
                            <div class="card-body">
                                <h2 class="card-title"> J’immortalise l’événement</h2>
                                <h3>Sur devis</h3>
                                <hr>
                                <p class="card-text">Prestation de mariage ou baptême sur devis</p>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
        </div>


</body>