---
title: "Accusé de réception du message"
description: "Accusé de réception du message adressé par email à Charles Cantin"
layout: "base.njk"
---

<div class="container text-center">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <h1 class="my-2">Accusé de réception du message</h1>
      <h2 class="my-2">Votre message a bien été envoyé</h2>
      <p class="my-2">Bonjour, 
        <br/>Je vous remercie pour votre message. 
        <br/>Je vous répondrai dès que possible.
      <p>
    </div>
  </div>
</div>