<a href="{{ couple.data.image }}" data-toggle="lightbox" data-gallery="img-gallery" class="{{ couple.data.category }} col-sm-3">
    <img src="{{ couple.data.image }}" alt="{{ couple.data.imageAlt }}" class="img-fluid img-couple">
</a>
